<h3>About Citizen-Reporting</h3>

<p><strong>Chaos</strong> - a lack of intelligible pattern or combination<p>

<p>Citizen-Reporting is built crow-sourced solution to understand and visualize patterns that could lead to more efficient situational and emergency management.  Our incident reporting app is meant to be easy to use.  Very easy.  One simple click reports incidents to our operations dashboard telling it that an event has been witnessed.  When more users identify a similar event near you, the incident is automatically voted up simply by proximity.  Responding to an event is always an investment of resources and safety.  Using social media, personnel can filter through tweets near incident reports to help understand and interpret the situation.  Once an event is determined to be in need of emergency response SMS messages can be sent to the appropriate staff.<p>

<h4>Key Features</h4>
<ul>
  <li>County of Riverside assets are identified with each incident (<a href=”http://www.rctlma.org/siteadmin/rest/services/Public/Public_Sites/FeatureServer” target=”_blank”>Riverside Public Sites Service</a>).</li>
  <li>Build using <a href=”http://developers.esri.com” target=”_blank”>ESRI’s JavaScript API</a></li>
  <li>Social feed using <a href="http://geofeedia.com/">Geofeedia</a></li>
  <li>SMS messaging using <a href=”http://www.twilio.com/” target=”_blank”>Twilio</a></li>
</ul>


<h4>Developers</h4>
<ul>
	<li>Joshua Tanner</li>
	<li>Shaunak Vairagare</li>
	<li>Diego Pajarito</li>	
</ul>

<i>This app was built for the 2014 ESRI Dev Summit Hackathon</i>
