<div class="row">
	<div class="col-md-12">
		<h3 id="main-header">Operating Dashboard</h3>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
	    <input type="text" class="form-control" id="advFilter" ng-model="filterText" placeholder="Advanced Filter Text">
	</div>
	<div class="col-md-8">
		<p>
			Filter Text : {{filterText}}
		</p>
	</div>
</div>
<div class="row">
	<!-- Event Map Column -->
	<div class="col-md-7">
		<div id="map">
			
		</div>
	</div>
	<!-- Social Media Column -->
	<div class="col-md-5">
		<div id="social">
			<ul class="list-unstyled">
				<li ng-repeat="item in tweets | filter:filterText">
					<div class="media">
						<a class="pull-left" href="#">
							<img class="media-object" ng-src="{{item.author.avatar.url}}" alt="Image">
						</a>
						<div class="media-body">
							<h4 class="media-heading">{{item.createdOn}}</h4>
							<p>{{item.title}}</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<!-- Events Table -->
	<div class="col-md-12">
		<div id="eventTable">
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Type</th>
							<th>Address</th>
							<th>Date Created</th>
							<th>Latest Update</th>
							<th>Votes</th>
							<th>Options</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="event in allEvents | orderBy:order:true | filter:filterText">
							<!-- From Database -->
							<th>{{event.event_type.name}}</th>
							<th>{{event.address}}</th>
							<th>{{event.created_at}}</th>
							<th>{{event.updated_at}}</th>
							<th>{{event.vote}}</th>
							<td>
								<ul class="list-unstyled actions">
									<li><a class="btn btn-primary" ng-click="viewEvent(event.latitude, event.longitude)">View</a></li>
									<li><a class="btn btn-danger" href="#">Delete</a></li>
									<li><a class="btn btn-success" href="#">Report</a></li>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>