<div class="row">
	<div class="col-md-12">
		<h3 id="main-header">Operating Dashboard</h3>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
	    <input type="text" class="form-control" id="advFilter" ng-model="filterText" placeholder="Advanced Filter Text">
	</div>
	<div class="col-md-8">
		<p>
			Filter Text : {{filterText}}
		</p>
	</div>
</div>
<div class="row">
	<!-- Event Map Column -->
	<div class="col-md-7">
		<div id="map">
			
		</div>
	</div>
	<!-- Social Media Column -->
	<div class="col-md-5">
		<div id="social">
			<ul class="list-unstyled">
				<p ng-hide="tweets.length>0"><h4 id="helpertext">'View' an event to view nearby social media</h4></p>
				<li ng-repeat="item in tweets | filter:filterText">
					<div class="media">
						<a class="pull-left" href="#">
							<img class="media-object" ng-src="{{item.author.avatar.url}}" alt="Image">
						</a>
						<div class="media-body">
							<h4 class="media-heading">{{formatDate(item.publishDate) | date:'yyyy-MM-dd HH:mm:ss'}}</h4>
							<p>{{item.title}}</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<!-- Events Table -->
	<div class="col-md-12">
		<div id="eventTable">
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Status</th>
							<th>Type</th>
							<th>Address</th>
							<th>Date Created</th>
							<th>Latest Update</th>
							<th>Votes</th>
							<th>Options</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="event in allEvents | orderBy:order:true">
							<!-- From Database -->
							<td class="{{event.status.value}}-true">{{event.status.value}}</td>
							<td>{{event.event_type.name}}</td>
							<td>{{event.address}}</td>
							<td>{{formatDate(event.created_at) | date:'yyyy-MM-dd HH:mm:ss'}}</td>
							<td>{{formatDate(event.updated_at) | date:'yyyy-MM-dd HH:mm:ss'}}</td>
							<td>{{event.vote}}</td>
							<td>
								<ul class="list-unstyled actions">
									<li><a class="btn btn-primary" ng-click="viewEvent(event.latitude, event.longitude, event.id)">View</a></li>
									<li><a class="btn btn-danger" ng-click="deleteEvent(event.id)">Delete</a></li>
									<li><a class="btn btn-success" ng-click="createReport(event.id)">Verify</a></li>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>