<h3>How to use</h3>

<p>
The application has two parts to it <em>Report Incident</em> which is crowd sourced and <em>Dashboard</em> which is used for monitoring the overall city. 
</p>

<br>
<h4>Incident Reporting</h4>

<p>From the 'Report Incident' page users will be able to select the hazard events that they observe in the immediate sorroundings and report them.<p>

<p>
	<ul>
		<p><li>Select an event type</li></p>
		<p><li>Click 'report' button</li></p>
		<p><li>Say 'allow geolocation' when prompted</li></p>
		<p><li>As multiple users report the same event, the event is upvoted</li></p>
	</ul>
</p>

<br>
<h4>Operational Dashboard</h4>

<ul>
<p>
	<li>Start by clicking on 'view' for one of the reported incident</li>
</p>

<p>
	<li>The map will show the incident in red, sorrounded by city public places evvefted by it</li>
</p>

<p>
	<li>The social media feed shows all the current tweets with 1 mile of that event.</li>
</p>

<p>
	<li>Clicking Verify for an event will confirm the validity of the event and send sms to all registered first responders</li>
</p>

<p>
	<li>Events are automatically upvoted as same ones get reported by users in the event's location</li>
</p>

</ul>